<template name="insertEntry">
	{{> main headerTemplate="adminHeader" contentTemplate="insertEntryContent" contentData=this}}
</template>
<template name="adminHeader">
	<div class="container-fluid clickable" data-url="{{pathFor route='index'}}" style="display:inline-block;">
		<h1>Admin Section</h1>
		<h4>Either your name is Justin Zhang, or you shouldn't be here.</h4>
	</div>
</template>
<template name="insertEntryContent">
	<style>
		#sidebarWrapper {
			display: none;
		}
		#contentWrapper {
			margin: 0 10px;
		}
	</style>
	<ul class="nav nav-tabs" id="entryType">
		<li class="clickable {{#if isMarkdown}}active{{/if}}"><a>Markdown</a></li>
		<li class="clickable"><a>HTML</a></li>
	</ul>
	<div class="jumbotron entry">
		<div class="row">
			<div class="col-md-6">
				<form id="insertForm" data-editmethod="{{ editMethod }}" data-id="{{ _id }}" data-createdat="{{ createdAt }}">
					<fieldset class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" name="title" placeholder="Title" value="{{ title }}">
					</fieldset>
					<fieldset class="form-group">
						<label for="previewContent">Preview {{#if isMarkdown}}Markdown{{else}}HTML{{/if}}</label>
						<textarea class="form-control" name="previewContent" rows="5" placeholder="Preview {{#if isMarkdown}}Markdown{{else}}HTML{{/if}}">{{ previewContent }}</textarea>
					</fieldset>
					{{#if previewContent}}
						{{#if bodyContent}}
						<fieldset class="form-group" id="bodyContentField">
							<label for="bodyContent">Body {{#if isMarkdown}}Markdown{{else}}HTML{{/if}}</label>
							<textarea class="form-control" name="bodyContent" rows="15" placeholder="Body {{#if isMarkdown}}Markdown{{else}}HTML{{/if}}">{{ bodyContent }}</textarea>
						</fieldset>
						{{/if}}
					{{else}}
					<fieldset class="form-group" id="bodyContentField">
						<label for="bodyContent">Body {{#if isMarkdown}}Markdown{{else}}HTML{{/if}}</label>
						<textarea class="form-control" name="bodyContent" rows="15" placeholder="Body {{#if isMarkdown}}Markdown{{else}}HTML{{/if}}"></textarea>
					</fieldset>
					{{/if}}
					{{#if editMethod}}
					{{else}}
					<fieldset class="form-group">
						<label for="method">Add To:</label>
						<select class="form-control" name="method" id="methodSelect">
							{{#each methods}}
								<option data-onsuccess="{{ onSuccess }}">{{ method }}</option>
							{{/each}}
						</select>
					</fieldset>
					{{/if}}
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col-md-6">
				<h4>Preview:</h4>
				<div id="previewWrapper"></div>
			</div>
		</div>
	</div>
</template>
