<template name="blog">
	{{> main headerTemplate="blogHeader" contentTemplate="blogContent"}}
</template>
<template name="blogPost">
	{{> main headerTemplate="blogHeader" contentTemplate="entryContent" contentData=(extend method="removeEntry_Blog" editMethod="editEntry_Blog")}}
</template>
<template name="blogHeader">
    <div class="container-fluid clickable" data-url="{{pathFor route='index'}}" style="display:inline-block;">
        <h1>O Hai Thar!</h1>
		<h4>Welcome to my "blog"</h4>
    </div>
</template>

<template name="blogContent">
	{{#if isInRole "admin"}}
		{{> confirmModal method="removeEntry_Blog" redirect="blog"}}
	{{/if}}
	{{#each posts}}
		{{> entry extend route="blogPost" editMethod="editEntry_Blog"}}
	{{/each}}
</template>
