.entry {
	position: relative;
}
.entry.jumbotron {
	padding-top: 5px;
}
.entry h1 {
	font-size: 40px;
	font-family: 'Slabo 27px', serif;
}
.entry p {
	font-size: 17px;
	font-family: 'Slabo 27px', serif;
}
.entryDate {
	position: absolute;
	bottom: 5px;
	right: 20px;
	color: #888;
}
.readMore {
	position: relative;
	top: 10px;
}
.adminButtons {
	position: absolute;
	top: 15px;
	right: 20px;
}
