<template name="entry">
	<div class="jumbotron entry">
		{{#if isInRole "admin"}}
            <div class="adminButtons">
                <button class="btn btn-default btn-sm clickable" data-url="{{pathFor route=editMethod}}">Edit</button>
    			<button class="removeButton btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal" data-id="{{ _id }}">Delete</button>
            </div>
		{{/if}}
		<h1>{{ title }}</h1>
        <hr>
        <div style="margin-bottom: 40px;">
			{{#if isMarkdown}}
				{{#markdown}}
		    		{{{ previewContent }}}
				{{/markdown}}
			{{else}}
				{{{ previewContent }}}
			{{/if}}
        </div>
        {{#if route}}
		<p><a class="readMore btn btn-raised btn-sm clickable" data-url="{{pathFor route=route}}" role="button">Read more</a></p>
        {{/if}}
		<p class="entryDate">
			By: {{ createdBy }}. {{ dateFormat createdAt }}
            {{#if editedAt}}
            <br>
            <i>Edited at: {{ dateFormat editedAt }}</i>
            {{/if}}
		</p>
	</div>
</template>

<template name="entryContent">
	<div class="jumbotron entry">
        {{#if preview}}
        {{else}}
        {{#if isInRole "admin"}}
            {{> confirmModal method=method}}
            <div class="adminButtons">
                <button class="btn btn-default btn-sm clickable" data-url="{{pathFor route=editMethod}}">Edit</button>
                <button class="removeButton btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal" data-id="{{ _id }}">Delete</button>
            </div>
        {{/if}}
        {{/if}}
		<h1>{{ title }}</h1>
        <hr>
        <div style="margin-bottom: 40px;">
			{{#if isMarkdown}}
				{{#markdown}}
		    		{{{ previewContent }}}
				{{/markdown}}
			{{else}}
				{{{ previewContent }}}
			{{/if}}
            {{#if bodyContent}}
	            <hr>
				{{#if isMarkdown}}
					{{#markdown}}
			    		{{{ bodyContent }}}
					{{/markdown}}
				{{else}}
					{{{ bodyContent }}}
				{{/if}}
			{{/if}}
        </div>
        <br>
		<p class="entryDate">
			By: {{ createdBy }}. {{ dateFormat createdAt }}
            {{#if editedAt}}
            <br>
            <i>Edited at: {{ dateFormat editedAt }}</i>
            {{/if}}
		</p>
	</div>
</template>
