<template name="index">
	<style>
		@media (max-width: 700px) {
			#sidebarWrapper {
				display: initial;
				margin: 0 auto;
				width: 100vw;
			}
			#contentWrapper {
				display: none;
			}
			#mediaHome {
				display: none;
			}
		}
	</style>
	{{> main headerTemplate="indexHeader" contentTemplate="indexContent"}}
</template>
<template name="indexHeader">
	<div class="container-fluid clickable" data-url="{{pathFor route='index'}}" style="display:inline-block;">
        <h1>Welcome!</h1>
		<h4>This is a personal site for Justin Zhang</h4>
    </div>
</template>
<template name="indexContent">
	{{#if isInRole "admin"}}
		{{> confirmModal method="removeEntry_Home" redirect="index"}}
	{{/if}}
	{{#each entries}}
		{{> entry extend editMethod="editEntry_Home"}}
	{{/each}}
</template>
