<head>
    <title>personal_site</title>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
</body>

<template name="main">
	<div class="headerWrapper">
		{{> UI.dynamic template=headerTemplate data=headerData}}
	</div>
	<div id="sidebarWrapper">
		{{> login}}
        {{#if isInRole "admin,canCreateEntry"}}
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 5px; margin-left: 10px;">
                <div class="clickable" data-url="{{pathFor route='insertEntry'}}" style="display: inline;">
                    <i class="fa fa-plus-circle fa-lg"></i>
                    <h4 style="display: inline; color: #777;">Create Entry</h4>
                </div>
            </div>
        </div>
        {{/if}}
		{{> sidebar}}
	</div>
	<div id="contentWrapper">
		{{> UI.dynamic template=contentTemplate data=contentData}}
	</div>
</template>
<template name="login">
    {{#if currentUser}}
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 5px; margin-left: 10px;">
            <h3 style="margin-left: 10px; color: #777;">Welcome, {{ currentUser.username }}</h3>
            <hr style="margin-bottom: 5px;">
            <div id="logout" class="clickable" style="display: inline;">
                <i class="fa fa-lg fa-arrow-circle-right"></i>
                <h4 style="display: inline; color: #777;">Logout</h4>
            </div>
        </div>
    </div>
    {{else}}
    <div id="loginDropdownPanel" class="panel panel-default clickable" data-down="0">
        <div class="panel-body" style="padding: 5px;"><i class="fa fa-lg fa-arrow-circle-right"></i><h4 style="display: inline; margin-left: 10px; color: #777;">Login</h4></div>
    </div>
    <div id="loginDropdown" style="margin-bottom: 25px;">
        {{> atForm}}
    </div>
    {{/if}}
</template>
<template name="sidebar">
	<div class="panel panel-default" id="sidebar">
		<ul class="media-list">
			<li class="media clickable" id="mediaHome" data-url="{{pathFor route='index'}}">
				<div class="media-left">
					<i class="fa fa-2x fa-home"></i>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Home</h4>
					My home. This link is absolutely useless.
				</div>
			</li>
			<li class="media clickable" id="mediaBlog" data-url="{{pathFor route='blog'}}">
				<div class="media-left">
					<i class="fa fa-2x fa-pencil-square-o"></i>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Blog</h4>
					My Blog. Read about my generic life on a generic blog.
				</div>
			</li>
		</ul>
	</div>
</template>
<template name="404">
	<div class="headerWrapper" style="text-align: center;">
		<h1>404</h1>
		<h2>Welp! I can't seem to find the data that you are looking for.</h2>
		<h4>Fortunately, <a href="{{pathFor route='index'}}" class="urlAppearance">there's no place like home.</a></h4>
	</div>
</template>
<template name="confirmModal">
    <div class="modal fade" tabindex="-1" id="confirmModal" data-id="{{ _id }}" data-method="{{ method }}" data-redirect="{{ redirect }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">
                    <p><strong>Are you sure?</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmModalSubmit" data-dismiss="modal">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</template>
