/* CSS declarations go here */
body {
    background: url('img/12.jpg');
}
.headerWrapper {
	margin: 20px 40px;
}
.headerWrapper h1 {
    font-size: 80px;
}
.headerWrapper h4 {
	font-size: 20px;
}
.headerWrapper * {
	font-family: 'Patrick Hand', cursive;
	color: #F7FCFE;
}
#contentWrapper {
	overflow: hidden;
	margin-right: 10px;
}
#sidebarWrapper {
	float: left;
	width: 290px;
	padding: 0px 20px;
}
@media (max-width: 700px) {
	#sidebarWrapper {
		display: none;
	}
	#contentWrapper {
		margin-right: 0px;
	}
	.headerWrapper h1 {
		font-size: 60px;
	}
	.jumbotron p.entryDate {
        position: relative;
    	text-align: center;
        width: 100vw;
		margin-bottom: 5px;
	}
    .adminButtons {
        position: relative;
        margin-left: 15px;
    }
}
.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
 	-ms-user-select: none;
	user-select: none;
}
.urlAppearance {
	color: #3559D6;
	text-decoration: underline;
}
#loginDropdown {
	display: none;
	background-color: white;
	margin: 0px;
}
.at-form {
	margin: 0px;
}
li.active {
	background-color: #12A699;
}
